body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  background-color: #FBB969;
}

* {
    font-family: 'Montserrat', sans-serif !important;
    transition-duration: 0.25s !important;
}

.game-card {
    -webkit-box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.74);
    box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.74);
}

.game-card-border {
    -webkit-box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.74);
    box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.74);
}

.game-card:hover, .game-card-border:hover, .game-card-no-shadow:hover{
    z-index:2;
    transform: translate(1px , -15px);
}


.policy {
    -webkit-box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.41);
    box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.41);
}